@mixin title($mg-top, $align, $font-size, $color) {
    margin-top: $mg-top;
    text-align: $align;
    font-size: $font-size;
    color: $color;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
    .title-prin{
        @include title(30px, center, 15px, rgb(85, 84, 84));
    }

    .hr{
        background-color: rgb(0, 21, 255);
        width: 150px;
        margin: auto;
        margin-bottom: 30px;
    }

    .title-secun{
        @include title(30px, left, 18px, black);
    }

    .gris{
        color: rgb(167, 167, 167);
    }

    .bg-table{
        background: rgb(34, 56, 116);
    }